In [3]:
from sqlalchemy import create_engine, text
database_name = "ducklake_test"
con_string = "postgresql://user:simple@localhost:5432"
engine = create_engine(con_string, isolation_level="AUTOCOMMIT")
with engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE {database_name}"))
    print(f"Database '{database_name}' is ready.")
engine.dispose()

Database 'ducklake_test' is ready.

In [ ]:
import duckdb

with duckdb.connect(":memory:") as con:
    con.execute(f"ATTACH 'ducklake:postgres:{con_string}/{database_name}' AS dl (DATA_PATH './tmp/data'); USE dl;")
    con.execute("CREATE TABLE t AS SELECT range id FROM range(10)")

IOException: IO Error: Failed to attach DuckLake MetaData "__ducklake_metadata_dl" at path + "postgresql://user:simple@localhost:5432/ducklake_test"Cannot open file "postgresql://user:simple@localhost:5432/ducklake_test": No such file or directory

In [ ]:
from ducklake_python import DucklakeClient

data_path = "./tmp/data"
dc = DucklakeClient(f"{con_string}/{database_name}", data_path)

In [2]:
arrow_table = dc.read_table(schema_name = "main", table_name = "t")
arrow_table.to_pandas()

   id
0   0
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9

In [ ]:
# Destroy
with engine.connect() as conn:
    conn.execute(text(f"DROP DATABASE {database_name}"))
    print(f"Database '{database_name}' is dropped.")
engine.dispose()